<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Attendence System Landing Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='img/logo.png')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo"/>
            <div class="logo-text">Smart Attendence System</div>
        </div>
        <div class="nav-links">
            <a href="#">
                Home
            </a>
            <a href="#features">
                Features
            </a>
            <a href="#journey">
                Journey
            </a>
            <a href="#tech">
                Tech Stack
            </a>
        </div>

        <div class="nav-cta">
            <a href="https://ai-attendance-make-attendence-faster.streamlit.app/" class="btn-pill">Start Ai Attendence
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                </svg>
            </a>
        </div>
    </nav>

    <header class="hero">
        <div class="header_left_div">
            <img src="{{url_for('static',filename='img/demo/Left_img1.png')}}" alt="">
        </div>
        <div class="header_content">
        <div class="Welcome_message">Welcome to Smart Attendence System</div>
        <div class="header_content_para">
            Ai Powered
            Attendence
            System
        </div>
        <p>Revolutionizing the classroom with next-gen computer vision and voice biometrics. Trusted by educators for speed,
        accuracy, and security.</p>
        <div>
            <a href="https://ai-attendance-make-attendence-faster.streamlit.app/" class="btn-pill">Start Ai Attendence
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                </svg>
            </a>
            <a href="#">Explore Journey</a>
        </div>
        </div>
        <div class="header_right_div">
            <img src="{{url_for('static',filename='img/demo/Right_img1.png')}}" alt="">
        </div>
    </header>

    <section class="innovative_feature">
        <h1>Innovative Features</h1>
        <div class="Feature_card1">
            <div>
                <p>📸</p>
                <h4>Ai Face Analysis</h4>
                <p>Advanced neural networks recognize every student's face from a single class photo , making attendence instant and accurate
                </p>
            </div>
            <div>
                <p>🎙️</p>
                <h4>Sequential Voice Ai</h4>
                <p>Students say "Present" one-by-one, and our audio-AI matches their voice biometrics against stored embeddings in
                real-time
                </p>
            </div>
            <div>
                <p>📱</p>
                <h4>QR-Driven Roster</h4>
                <p>Course codes generate unique QR codes for instant student enrollment. No more manual entry or data management headaches.
                </p>
            </div>
        </div>
    </section>

    <section class="Journey">
        <span>--Workflow--</span>
        <h1>The Teacher's journey</h1>
        <div class="Step1">
            <div class="Step1_content">
                <span>STEP 01</span>
                <h2>Secure Login</h2>
                <p>Start your session with our high-security authentication portal. Your data is encrypted and synced across all your
                devices</p>
            </div>
            <div class="Step1_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow1.png')}}" alt="">
            </div>
        </div>

        <div class="Step2">
            <div class="Step2_content">
                <span>STEP 02</span>
                <h2>Interactive Dashboard</h2>
                <p>Manage all your subjects, attendance logs, and student rosters from a single, beautiful unified stream.</p>
            </div>
            <div class="Step2_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow2.png')}}" alt="">
            </div>
        </div>

        <div class="Step3">
            <div class="Step3_content">
                <span>STEP 03</span>
                <h2>Course Management</h2>
                <p>Creating a new subject is a breeze. Just name it, and SnapClass generates everything you need to start tracking.</p>
            </div>
            <div class="Step3_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow3.png')}}" alt="">
            </div>
        </div>

        <div class="Step4">
            <div class="Step4_content">
                <span>STEP 04</span>
                <h2>FaceID Attendence</h2>
                <p>Use high-speed computer vision to scan the entire room. Our AI identifies every student from a single class photo in
                milliseconds.</p>
            </div>
            <div class="Step4_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow4.png')}}" alt="">
            </div>
        </div>

        <div class="Step5">
            <div class="Step5_content">
                <span>STEP 05</span>
                <h2>Voice ID Attendence</h2>
                <p>Switch to voice mode for a futuristic roll-call. Students speak sequentially, and our AI matches their unique voice
                signatures.</p>
            </div>
            <div class="Step5_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow5.png')}}" alt="">
            </div>
        </div>

        <div class="Step6">
            <div class="Step6_content">
                <span>STEP 06</span>
                <h2>Attendence Records</h2>
                <p>Review and manage historical logs. View confidence scores, download CSV reports, and track long-term attendance trends.</p>
            </div>
            <div class="Step6_img">
                <img src="{{url_for('static',filename='img/demo/Teacher_workflow6.png')}}" alt="">
            </div>
        </div>

    </section>

    <section class="purple-section">
        <p>--Our Backend--</p>
        <h1>Advanced Tech Stack</h1>
        <div class="purple-section-cards">
            <div class="purple-section-card1">
                <div>
                    <p>⚡</p>
                    <h2>Stremlit & Flask</h2>
                    <p>Reactive frontend architecture paired with a robust flask landing layer</p>
                    <p>platform</p>
                </div>
                
            </div>

            <div class="purple-section-card2">
                <div>
                    <p>👁️</p>
                    <h2>Face Registration</h2>
                    <p>Leveraging FaceRecognition and Dlib for high-fidelity facial biometrics.</p>
                    <p>Vision AI</p>
                </div>
            </div>

            <div class="purple-section-card3">
                <div>
                    <p>🎙️</p>
                    <h2>Voice Embeddings</h2>
                    <p>Utilizing Resemblyzer and Librosa for unique student voice signatures.</p>
                    <p>Audio AI</p>
                </div>
            </div>

            <div class="purple-section-card4">
                <div>
                    <p>🎙️</p>
                    <h2>Supabase Cloud</h2>
                    <p>Real-time PostgreSQL infrastructure with secure auth and sync.</p>
                    <p>Storage</p>
                </div>
            </div>

        </div>
    </section>

    <section class="Journey">
        <span>--Workflow--</span>
        <h1>The Student's journey</h1>
        <div class="Step1">
            <div class="Step1_content">
                <span>PHASE 01</span>
                <h2>Instant Enrollment</h2>
                <p>Students join courses in seconds using unique QR codes or course links provided by their teachers. No tedious sign-up
                forms.</p>
            </div>
            <div class="Step1_img">
                <img src="{{url_for('static',filename='img/demo/Student_workflow1.png')}}" alt="">
            </div>
        </div>
    
        <div class="Step2">
            <div class="Step2_content">
                <span>"PHASE 02</span>
                <h2>Biometric Registration</h2>
                <p>Students register their FaceID and VoiceID once.Our AI securely stores these biometrics for all future class sessions.
                </p>
            </div>
            <div class="Step2_img">
                <img src="{{url_for('static',filename='img/demo/Student_workflow2.png')}}" alt="">
            </div>
        </div>
    
        <div class="Step3">
            <div class="Step3_content">
                <span>PHASE 03</span>
                <h2>Personal Dashboard</h2>
                <p>A unified view for students to track their attendance percentage across all subjects and receive real-time updates.</p>
            </div>
            <div class="Step3_img">
                <img src="{{url_for('static',filename='img/demo/Student_workflow2.png')}}" alt="">
            </div>
        </div>
    
    </section>

    <section class="blue-section">
        <h2>Ready to upgrade your classroom?</h2>
        <p>Join thousands of educators who have simplified their day with Smart Ai Attendence. The smartest Ai powered attendence system is just one click away.</p>
        <div>
        <a href="https://ai-attendance-make-attendence-faster.streamlit.app/" class="btn-pill">Start Ai Attendence
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0V0z"></path>
                <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
            </svg>
        </a>
        </div>
    </section>

    <footer class="hearo_foot">
        <div class="Main_footer_content">
        <div class="logo_box">
            <div class="logo">
                <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo" />
                <div class="logo-text">Smart Attendence System</div>
            </div>
            <p>The next generation of classroom management, powered by advanced AI biometrics. Join the future of education today</p>
            
        </div>
        <div>
            <h4>Produce</h4>
        <ul>
            <li>Ai Attendence</li>
            <li>Smart Roster</li>
            <li>Teck Stack</li>
            <li>Student Portal</li>
        </ul>
        </div>
        <div>
            <h4>Experience</h4>
        <ul>
            <li>teacher Journey</li>
            <li>student Journey</li>
            <li>Voice-id Roll-call</li>
            <li>Faceid Scan</li>
        </ul>
        </div>
        <div>
            <h4>Company</h4>
        <ul>
            <li>About us</li>
            <li>How it works</li>
            <li>Privacy Policy</li>
            <li>Tearms to use</li>
        </ul>
        </div>
        </div>
        <div class="border"></div>
        <div>Created by Bhupati </div>
    </footer>
</body>
</html>