<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Attendence System Landing Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='img/logo.png')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="logo"/>
            <div class="logo-text">Smart Attendence System</div>
        </div>
        <div class="nav-links">
            <a href="#">
                Home
            </a>
            <a href="#features">
                Features
            </a>
            <a href="#journey">
                Journey
            </a>
            <a href="#tech">
                Tech Stack
            </a>
        </div>

        <div class="nav-cta">
            <a href="https://ai-attendance-make-attendence-faster.streamlit.app/" class="btn-pill">Start Ai Attendence
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20px" width="20px"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                    <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path>
                </svg>
            </a>
        </div>
    </nav>

    <header class="hero">
        <div class="Left_img">
            <img src="" alt="">
        </div>
        <div>
        <div class="Welcome_message">Welcome to Smart Attendence System</div>
        </div>
        <div class="Right_img">
            <img src="" alt="">
        </div>
    </header>
</body>
</html>